.search-container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .search-container__form-button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;

      .search-container__form-button {
        margin: 5px;
      }
    }
  }
}
