.beer-profile {
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 85vh;
  padding: 5px;
  border: 1px solid black;

  .beer-profile__title {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .beer-profile__information {
    width: 90%;
    background-color: rgb(181, 229, 252);

    height: 90%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;

    a {
      width: 40%;
      padding: 4px;
      height: 24px;
      max-height: 24px;
      border: 1px solid black;
      border-radius: 5px;
      text-decoration: none;
      background-color: white;
      color: black;
      font-size: 14px;

      &:hover {
        background-color: darken(white, 10%);
        transition: ease-in-out 0.25s;
      }
    }

    .beer-profile__ingredients-container {
      margin: 5px;
    }

    .beer-profile__method-container {
      margin: 5px;
    }

    .beer-profile__brewers-tips-container {
      margin: 5px;
    }
  }

  img {
    max-width: 200px;
    max-height: 400px;
    margin: 10px auto;
  }
}

@media screen and (min-width: 1024px) {
  .beer-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;

    img {
      max-width: 300px;
      max-height: 500px;
      margin: 10px auto;
    }
  }
}
