.search-bar {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;

    input {
      margin-left: 5px;
    }

    .search-bar__checkbox-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      margin: 10px 0px 10px 5px;

      .search-bar__checkbox {
        input {
          margin-right: 5px;
        }
      }
    }

    .search-bar__button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;

      .search-bar__button {
        margin: 5px;
        border: 1px solid black;
        background-color: white;

        &:hover {
          background-color: darken(white, 10%);
          transition: ease-in-out 0.25s;
        }
      }
    }
  }
}
