.beer-card {
  width: 90%;
  max-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-wrap: wrap;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(230, 196, 152);
  border-radius: 8px;

  .beer-card__header {
    display: flex;
    flex-direction: row;
    width: 100%;

    h4 {
      width: 60%;
    }

    button {
      width: 40%;
      padding: 2px;
      height: 24px;
      max-height: 24px;
      border: 1px solid black;
    }
  }

  .beer-card__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    .beer-card__image {
      min-width: 50px;
      max-width: 100px;
      max-height: 150px;
      margin: 10px;
      padding: 10px;
      align-self: center;
    }
  }

  .beer-card__description-container {
    font-size: 0.8rem;

    button {
      background-color: white;
      font-size: 0.7rem;
      border: 1px solid black;
    }
  }

  .beer-card__link {
    align-self: flex-end;
    width: 30%;
    padding: 2px;
    height: 24px;
    max-height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .beer-card {
    width: 90%;
    height: 100%;
  }
}
