* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: antiquewhite;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
